[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=7.1"

[packages]
pyqt5-tools = "~=5.15"
webcolors = "~=1.11.1"
pyqt5 = "~=5.15.2"
sortedcontainers = "~=2.3.0"
faker = "~=9.8.1"
pyinstaller = ">=4.3"
tomli = "~=2.0.1"

[requires]
python_version = "3.7"
